<div class="password--container">
  <input
    class="password--input"
    type="password"
    name="password"
    [(ngModel)]="password"
    (input)="onPasswordInput()"
    placeholder="Enter your password"
    minlength="8"
  />
  <div class="password--validator">
    <span 
      class="password--validator__chunk"
      [class.password--validator__chunk__strong]="strength === 'strong'"
      [class.password--validator__chunk__medium]="strength === 'medium'"
      [class.password--validator__chunk__easy]="strength === 'easy' || isLessThenMinLenghth "
      ></span>
    <span 
      class="password--validator__chunk"
      [class.password--validator__chunk__strong]="strength === 'strong'"
      [class.password--validator__chunk__medium]="strength === 'medium'"
      [class.password--validator__chunk__easy]="isLessThenMinLenghth"
      ></span>
    <span 
      class="password--validator__chunk"
      [class.password--validator__chunk__strong]="strength === 'strong'"
      [class.password--validator__chunk__easy]="isLessThenMinLenghth"
      ></span>
  </div>
</div>
