@import "../../../styles.scss";

.password {
  &--container {
    position: relative;
  }
  &--input {
    box-sizing: border-box;
    width: 100%;
    color: $background;
    font-family: "Indie Flower";
    outline: 0;
    border: solid 2px $primary;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    padding: 4px;
    font-size: 24px;
    font-weight: 700;
  }
  &--validator {
    width: 100%;
    height: calc(100% + 4px);
    position: absolute;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    &__chunk {
      width: 33%;
      height: 100%;
      display: block;
      box-sizing: border-box;
      background-color: $primary;
      &__strong {
        background-color: $green;
      }
      &__medium {
        background-color: $secondary;
      }
      &__easy {
        background-color: $red;
      }
    }
  }
}
