/* You can add global styles to this file, and also import other style files */

// Vars

$background: #121212;
$red: #ff8383;
$green: #2f753d;
$primary: #d3d3d3;
$secondary: #b76100;

// Vars

:host {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  background: $background;
  color: $primary;
}
